$color-1: #54bc75;

$color-2: #4daf7b;

$color-3: #f6f0ec;

$color-4: #e55f3b;

$font-color-1: rgba(255, 255, 255, 0.502);

$font-color-2: rgb(142, 128, 113);

$font-color-3: rgba(142, 128, 113, 0.702);

$font-color-4: rgba(88, 75, 55, 0.6);