.font-clockKit{
	
	font-size: 20px;
	-moz-transform: matrix( 0.58005956727429,0,0,0.59797300505815,0,0);
	-webkit-transform: matrix( 0.58005956727429,0,0,0.59797300505815,0,0);
	-ms-transform: matrix( 0.58005956727429,0,0,0.59797300505815,0,0);
}
